@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: "Space Mono", monospace;
}

.container {
	align-items: center;
	justify-content: center;
}

@import "./components/button.scss";
